{% load static %}

<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="{% static 'application/css/bootstrap.min.css' now "U" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'application/css/Base.css' now "U" %}">
        <script src="{% static 'application/js/bootstrap.min.js' %}"></script> 
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"><img class="logo" src="{% static 'application/images/curtinLogo.jpg' %}" alt="Curtin University"></a>            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'form' %}">Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Database' %}">List</a>
                    </li>
                </ul>
            </div>
            <ul class="mavbar-nav ml-auto">
                {% if user.is_authenticated and user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'admin:logout' %}?next={% url 'form' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
    <footer>
        Curtin University &copy;. All rights reserved.<br>
        Developed by: Fateh Din Mohammed Amjad
    </footer>
</html>